.img-main {
    transition: width 0.5s;
}

@media screen and (max-width: 960px) {
    .img-main {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        min-height: 100px;
    }

    figure {
        margin-left: auto;
        margin-right: auto;
    }

    .text-muted {
        text-align: center;
    };
}

body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 400;
    margin: 5vw;
    display: flex;
}

.text-muted {
    color: #615656;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.img-responsive {
    border-style: solid;
    border-width: 2px;
    color: #615656;
}

@media screen and (min-width: 350px) {
    .img-flower {
        width: 350px;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
    };
}

@media screen and (min-width: 960px) {
    .img-main {
        width: 100%;
        max-height: 40vw;
    };
}

hr {
    border-style: solid;
    border-width: 2px;
}
